.navbar-brand {
    line-height: 1rem;
}

.avatar {
    height: 60vh !important;
}

.group-card {
    background: #eeeeee;
}

.about_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1 {
    color: 1;
}

.list-group-item>a {
    text-decoration: none;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    opacity: 0;
    transition: 1s;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    color: black;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    border-radius: 0px 10px 0px 10px;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 70%;
}

[data-tooltip] {
    position: relative;
}

.t1 {
    background: green !important;
}

.photo-card {
    background: rgb(240, 240, 240) !important;
}